.flex-container {
    display: flex;
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
}
.item {
    background: steelblue;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
}
.tall {
    padding: 40px 20px;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.align-content {
    align-content: space-around;
}